<div class="fixed top-50 left-50 right-50 z-50  w-full overflow-x-hidden overflow-y-auto   h-full">
  <div class="relative w-full h-full max-w-md md:h-auto">
    <!-- Modal content -->
    <div class="  rounded-lg shadow bg-gray-700">
      <button type="button"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent  rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-800 hover:text-white">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8">
        <h3 class="mb-4 text-xl font-medium text-white">Modifier la catégorie {{updateCateg.name}}</h3>
        <form class="space-y-6" action="#" [formGroup]="updateForm" (ngSubmit)="updateCategory()">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-white">Nom de categorie</label>
            <input type="text" name="email" id="email" formControlName="nomCategorie" [(ngModel)]="updateCateg.name"
              class=" border  text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white"
              placeholder="Categorie" required>
            <div *ngIf="updateForm.get('nomCategorie')?.touched && updateForm.get('nomCategorie')?.invalid"
              class="text-primary-500 text-md"> Nom de categorie est obligatoire</div>
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-white">Gamme</label>
            <input type="text" name="password" id="password" placeholder="gamme" formControlName="gamme"
              [(ngModel)]="updateCateg.description"
              class=" border  text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-600 border-gray-500 placeholder-gray-400 text-white"
              required>
            <div *ngIf="updateForm.get('gamme')?.touched && updateForm.get('gamme')?.invalid"
              class="text-primary-500 text-md"> Gamme est obligatoire</div>
          </div>

          <button type="submit" [disabled]="updateForm.invalid" data-modal-hide="authentication-modal"
            class="w-full text-white  focus:ring-4 focus:outline-none  font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-primary-600 hover:bg-primaprimary06 focus:ring-primary-700">
            Modifier</button>


        </form>
      </div>
    </div>
  </div>
</div>