<header class="bg-gray-800 shadow mx-auto w-full  px-4  sm:px-6 lg:px-8">
  <h1 class="text-3xl font-bold tracking-tight py-4 text-white">Dashboard</h1>
</header>
<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent"
    role="tablist">
    <li class="mr-2">
      <button routerLink="/admin/users" class="nav-link inline-block p-4 border-b-2 rounded-t-lg"
        type="button">Utilisateurs</button>
    </li>
    <li class="mr-2">
      <button routerLink="/admin/products"
        class="nav-link inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        type="button">Produits</button>
    </li>
    <li class="mr-2">
      <button routerLink="/admin/orderlist"
        class="nav-link inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        type="button">Commandes</button>
    </li>
    <li class="mr-2">
      <button routerLink="/admin/categlist"
        class="nav-link inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        type="button">Categories</button>
    </li>
    <!-- <li>
      <button
        class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
        type="button">Contacts</button>
    </li> -->
  </ul>
</div>
