input[type="number"] {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 32px;
  line-height: 1.42857143;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mat-dialog-container {
  padding: 0px !important;
  overflow-x: scroll;
  width: 80wh;
}

::ng-deep mat-dialog-content {
  max-height: 80vh;
  width: 80wh;
  overflow-y: auto;
}

.mat-dialog-container {
  padding: 0px !important;
}

::ng-deep mat-dialog-content {
  max-height: 80vh;
  width: 80wh;
  overflow-y: auto;
}
